.header {
  background: linear-gradient(135deg, #ffcc00 30%, #000000 90%);
  color: #ffffff;
  text-align: center;
  padding: 8rem 2rem 6rem;
  margin-top: 60px; 
}

.header__title {
  font-size: 2.5rem;
  margin: 0;
}

.header__subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #f1f1f1;
}

@media screen and (max-width: 1023px) {
  
}

@media screen and (max-width: 543px) {
  
}